@mixin boton {
    appearance: none;
    border: 0;
    outline: 0;
    background: #fff;
    min-width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    padding: 5px 30px 0;
    text-transform: uppercase;
    transition: 0.3s ease-in-out all;
    &.prm {
        background: var(--naranja);
        color: #fff;
        @media (hover: hover) {
            &:hover {
                background: var(--azul);
            }
        }
    }
    @media (max-width: 992px) {
        min-width: auto;
        width: 100%;
        height: 40px;
        font-size: 16px;
    }
}

.botonera {
    .boton {
        margin: 0 15px;
    }
    @media (max-width: 992px) {
        flex-direction: column;
        width: 100%;
        a {
            width: 100%;
        }
        .boton {
            margin: 0 0 20px 0;
        }
    }
}

.boton {
    @include boton;
}

@mixin combo {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

    &::after {
        font-family: "icomoon" !important;
        content: "\e90b";
        font-size: x-small;
        position: absolute;
        right: 24px;
        margin-top: 4px;
        -webkit-text-stroke: 1px;
    }

    select {
        appearance: none;
        border: 0;
        background: none;
        color: inherit;
        z-index: 1;
        height: 100%;
        width: 100%;
        padding: 0 44px 0 24px;
        cursor: pointer;
        text-align: center;

        &:focus {
            border-radius: 50px;
        }
    }

    @media (max-width: 768px) {
        display: flex;
        align-items: center;

        &::after {
            position: relative;
            right: auto;
            margin-left: 12px;
        }

        select {
            width: max-content;
            padding: 0;

            &:focus {
                border-radius: 0;
            }
        }
    }
}

.combo {
    @include combo;
}

.input__group {
    display: flex;
    flex-flow: column wrap;

    & > label {
        margin-bottom: 32px !important;
    }

    input {
        appearance: none;
        border: 1px solid;
        border-width: 0 0 1px 0;
    }

    &#input--group3,
    &#input--group4,
    &#input--group5 {
        .error-input p {
            margin-top: 2em;
        }
    }

    .error-input {
        display: none;

        &.show {
            display: block;
            margin-top: 2em;
            // p {
            //     margin-top: 2em;
            // }
        }
    }
}

.input__chip {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    flex-flow: row wrap;
    height: 48px;
    // width: max-content;
    // padding: 12px 24px;

    &.set {
        .chip,
        label {
            font-family: var(--prm-medium);
            border-width: 2px;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        transition: 0.3s ease-in-out all;

        // &:checked ~ .chip {
        //     font-family: var(--prm-medium);
        //     border-width: 2px;
        // }
    }

    .chip,
    label {
        cursor: pointer;
        height: 100%;
        width: 100%;
        border: 1px solid var(--bg-prm);
        border-radius: 50px;
        width: max-content;
        padding: 12px 24px;
        font-size: var(--h4);
        line-height: 24px;

        sup {
            font-family: var(--prm-medium);
            margin-left: 4px;
            font-size: var(--s);
            top: -0.3em;
        }
    }

    .error-input {
        flex: 0 0 100%;
        padding-left: 24px;
        font-size: var(--xs);
        margin-top: 2em;
    }
}

.screen-reader-response,
.wpcf7-response-output {
    display: none;
}
