script.
    gsap.registerPlugin(ScrollTrigger, TextPlugin);
    const animTxt = (elem, texto) => {
        gsap.to(elem, {
            duration: 2,
            text: {
                value: texto,
                newClass: "class2",
                // delimiter: " ",
            },
            ease: "none",
        });
    };
    const apiClima = () => {

    fetch(
        "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/ciudad%20de%20mexico/today?unitGroup=metric&include=hours&key=WYJ95FQXYZ7RLMEZBQVSG4BLX&contentType=json"
    )
        .then((response) => response.json())
        .then((data) => {
            // console.log(data.days);

            animTxt("#one", "Latitude:" + data.latitude);
            animTxt("#two", "Longitude:" + data.longitude);
            animTxt("#tre", data.resolvedAddress);
            data.days.map((item) => {
                animTxt("#fou", "Humidity:" + item.humidity);
                animTxt("#fiv", "Windspeed:" + item.windspeed);
                animTxt("#six", "Solar radiation:" + item.solarradiation);
                animTxt("#sev", "Description:" + item.description);
                animTxt("#eig", "Pressure:" + item.pressure);
                animTxt("#nin", "Conditions:" + item.conditions);
            });
        });
    };

    apiClima();


section.info--api 
    .container-fluid 
        .row 
            .col-12.info--api--content
                h6#one Latitude -99.9999
                h6#two Longitude -99.9999
                h6#tre Ciudad de México CDXM Mexico
                h6#fou Humidity 44.0
                h6#fiv Windspeed 16
                h6#six Solar radiation 230.6
                h6#sev Description Clear conditions throtug the day
                h6#eig Pressure 1000
                h6#nin Conditions Clear

                h6#one Latitude -99.9999
                h6#two Longitude -99.9999
                h6#tre Ciudad de México CDXM Mexico
                h6#fou Humidity 44.0
                h6#fiv Windspeed 16
                h6#six Solar radiation 230.6
                h6#sev Description Clear conditions throtug the day
                h6#eig Pressure 1000
                h6#nin Conditions Clear
