footer.footer
    section.contact 
        .contact--wrap
            .contact--marquee.d-flex.align-items-center
                h2 Arte
                h2 Tecnología
                h2 Experiencias
            .contact--marquee.d-flex.align-items-center
                h2 Arte
                h2 Tecnología
                h2 Experiencias

        .container-fluid.contact--access
            .row 
                .col-lg-4.offset-lg-3 
                    h4 Colaboremos
                    a(data-bs-toggle="modal", data-bs-target="#modal-contact")
                        h3.icon-arrow-after Cuéntanos sobre tu proyecto

                .col-lg-3.offset-lg-2
                    h4 Crezcamos juntos
                    a(data-bs-toggle="modal", data-bs-target="#modal-unete")
                        h3.icon-arrow-after Únete al equipo

        .container-fluid.contact--data
            .row 
                .col-lg-3
                    h4 Calle Pitágoras 607
                    h4 Narvarte Poniente
                    h4 03020 Ciudad de México

                .col-lg-3
                    h4 Llámanos
                    a(href="tel:+52 1 55 6719 7942") +52 1 55 6719 7942

                .col-lg-3
                    h4 Escríbenos
                    a(href="mailto:info@monodata.mx") info@monodata.mx 

                .col-lg-3
                    h4 Síguenos
                    .contact--data--redes
                        a.icon-LinkedIn(href="", target="_blank", rel="noopener noreferrer") 
                        a.icon-Instagram(href="", target="_blank", rel="noopener noreferrer") 
                        a.icon-Facebook(href="", target="_blank", rel="noopener noreferrer") 
                        a.icon-Twitter(href="", target="_blank", rel="noopener noreferrer") 
                        a.icon-YouTube(href="", target="_blank", rel="noopener noreferrer") 
                        a.icon-Vimeo(href="", target="_blank", rel="noopener noreferrer") 




