@mixin listaProyecto {
    .lista {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        a {
            color: inherit;
        }

        .accordion-item {
            border: 0;

            h2 {
                text-align: right;
                padding-right: var(--bs-gutter-x, 2rem);
                border-bottom: 1px solid var(--bg-prm);
                padding-bottom: 8px;
            }

            .accordion-collapse {
                transition: 0.3s ease-in-out all;
                height: 0;
                overflow: hidden;
                display: block;

                &.show {
                    height: 600px;
                }
            }
        }

        &__data {
            display: flex;
            align-items: center;
            @extend .padding-full;
            padding-top: 16px;
            padding-bottom: 16px;
            justify-content: space-between;

            h5 {
                font-family: var(--sec-regular);
                font-weight: 500;
                -webkit-text-stroke: 0.5px;

                span {
                    display: block;
                    font-weight: normal;
                    -webkit-text-stroke: 0;
                }
            }
        }

        &-next {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--bg-prm);
            padding: 0 var(--bs-gutter-x, 2rem) 8px;

            h2 {
                border-bottom: 0 !important;
                padding: 0 !important;
            }
        }

        &.related {
            .accordion-collapse {
                height: 250px !important;
                overflow: hidden;
            }
        }
    }

    @media (max-width: 768px) {
        .lista {
            .accordion-item {
                .accordion-collapse {
                    --alto-image: calc(260px + 500 * ((100vw - 360px) / 768));
                    picture {
                        display: block;
                        height: var(--alto-image);
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    &.show {
                        height: var(--alto-image);
                    }
                }
            }
        }
    }
}

@mixin info-api {
    .info--api {
        .row {
            flex-wrap: nowrap;
            white-space: nowrap;
            min-width: 100%;
            gap: 300px;
        }

        &--content {
            height: 30px;
            // padding-top: 10px;
            // padding-bottom: 10px;
            display: flex;
            // flex-shrink: 0;
            align-items: center;
            justify-content: space-between;
            animation: slide-left 30s linear infinite;

            @keyframes slide-left {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-100%);
                }
            }

            h6 {
                white-space: nowrap;
                margin-right: 100px;
                font-family: var(--sec-regular);
                color: var(--bg-sec);

                span {
                    color: var(--bg-prm);
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            // justify-content: space-between;
            // height: 30px;

            // &#one {
            //     width: 162px;
            // }
            // &#two {
            //     width: 115px;
            // }
            // &#tre {
            //     width: 128px;
            // }
            // &#fou {
            //     width: 34px;
            // }
            // &#fiv {
            //     width: 149px;
            // }
            // &#six {
            // width: 75px;
            // }

            // width: calc(100% / 6);
            // text-align: center;
        }
    }

    @media (max-width: 768px) {
        .info--api--content {
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            animation: slide-left 15s linear infinite;

            @keyframes slide-left {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-100%);
                }
            }

            h6 {
                white-space: nowrap;
                margin-right: 100px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
