:root {
    // COLORS//
    --bg-prm: #161616;
    --bg-sec: #fdfdfd;
    // --bg-ter: #d95242;
    // --bg-gris: #eeeeee;
    // --txt-prm: #00dff4;
    // --txt-sec: #db0080;
    // --txt-ter: #112d57;
    // --txt-gris: #a6a6a6;
    // FONTS
    --prm-light: "Graphik-Light", sans-serif;
    --prm-regular: "Graphik-Regular", sans-serif;
    --prm-regular-italic: "Graphik-Regular-italic", sans-serif;
    --prm-medium: "Graphik-Medium", sans-serif;
    --sec-regular: "Space Mono", monospace;

    --txt-big: calc(200px + 0 * ((100vw - 1280px) / 1920)); //
    --h1: calc(100px + 10 * ((100vw - 1280px) / 1920)); //
    --h2: calc(40px + 10 * ((100vw - 1280px) / 1920)); //
    --h3: calc(24px + 10 * ((100vw - 1280px) / 1920)); //
    --h4: calc(18px + 10 * ((100vw - 1280px) / 1920)); //
    --h5: calc(16px + 10 * ((100vw - 1280px) / 1920)); //
    --h6: calc(12px + 10 * ((100vw - 1280px) / 1920)); //

    /// SECTIONS
    --paddingSection: 80px 40px;

    // ///// MEDIA TABLET /////
    // @media (max-width: 1024px) {
    //     --h1: calc(60px + 10 * ((100vw - 320px) / 1280));
    //     --h2: calc(px + 10 * ((100vw - 320px) / 1280));
    //     --h3: calc(20px + 10 * ((100vw - 320px) / 1280));
    //     --h4: calc(16px + 10 * ((100vw - 320px) / 1280));
    //     --h5: calc(14px + 10 * ((100vw - 320px) / 1280));
    //     --h6: calc(12px + 10 * ((100vw - 320px) / 1280));
    //     --paddingSection: 50px 0px;
    // }

    ///// MEDIA MOBILE /////
    @media (max-width: 1024px) {
        --h1: calc(60px + 10 * ((100vw - 360px) / 1024));
        --h2: calc(40px + 10 * ((100vw - 360px) / 1024)); //
        --h3: calc(18px + 10 * ((100vw - 360px) / 1024)); //
        --h4: calc(18px + 10 * ((100vw - 360px) / 1024)); //
        --h5: calc(14px + 10 * ((100vw - 360px) / 1024)); //
        --h6: calc(12px + 10 * ((100vw - 360px) / 1024));
        --paddingSection: 50px 0px;
    }
}
