.home {
    .info--api {
        &--content {
            justify-content: space-between;
            height: 30px;

            h6 {
                font-family: var(--sec-regular);
                color: var(--bg-sec);

                span {
                    color: var(--bg-prm);
                }

                // &#one {
                //     width: 162px;
                // }
                // &#two {
                //     width: 115px;
                // }
                // &#tre {
                //     width: 128px;
                // }
                // &#fou {
                //     width: 34px;
                // }
                // &#fiv {
                //     width: 149px;
                // }
                // &#six {
                // width: 75px;
                // }

                // width: calc(100% / 6);
                // text-align: center;
            }
        }
    }

    .hero {
        padding: 56px 0 0;

        &--contain {
            margin-bottom: 170px;

            .splt {
                font-size: var(--h1);
                line-height: 115px;
            }
        }

        &--video {
            position: relative;
            overflow: hidden;
            cursor: none;
            height: calc(600px + 700 * ((100vw - 1280px) / 1920));

            & * {
                cursor: none;
            }

            .vjs-poster {
                background-size: cover;
            }

            .cursor {
                background: url("../img/Screw.svg") no-repeat center / contain;
                width: 160px;
                height: 160px;
                position: absolute;
                z-index: 2;

                &.show {
                    display: block;
                }
                &.hide {
                    display: none;
                }

                &.pause {
                    filter: invert(1);
                }
            }

            video {
                aspect-ratio: 16/9;
            }
        }
    }

    .projects {
        padding: 42px 0;
        h2 {
            margin-bottom: 102px;
        }

        .icon-arrow-after {
            text-align: right;
        }
    }

    .servicios {
        border-bottom: 1px solid;

        &--pic {
            overflow: hidden;
            height: calc(650px + 800 * ((100vw - 1280px) / 1920));
            display: block;

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            padding: 46px 0 32px;
            position: relative;
            border-right: 1px solid;
            cursor: pointer;
            min-height: calc(670px + 210 * ((100vw - 1280px) / 1920));
            width: calc(100% / 6);
            z-index: 0;
            transition: width 0.6s cubic-bezier(0.38, 0.005, 0.215, 1);

            &:nth-child(1) {
                &.active {
                    p {
                        height: calc(110px + 130 * ((100vw - 1280px) / 1440));
                    }
                }
            }
            &:nth-child(2) {
                &.active {
                    p {
                        height: calc(44px + 90 * ((100vw - 1280px) / 1440));
                    }
                }
            }

            &:nth-child(3) {
                &.active {
                    p {
                        height: calc(66px + 100 * ((100vw - 1280px) / 1440));
                    }
                }
            }
            &:nth-child(4) {
                &.active {
                    p {
                        height: calc(44px + 60 * ((100vw - 1280px) / 1440));
                    }
                }
            }

            img,
            .txt-big,
            .title-item,
            p,
            a {
                transition: 0.6s ease-in-out all;
            }

            h6 {
                font-family: var(--sec-regular);
                margin-bottom: 32px;
                position: absolute;
                top: 0;
                margin: 8px;
            }

            img {
                opacity: 0;
                // transform: translateY(50%);
                top: 100px;
                right: calc(-150px + 300 * ((100vw - 1280px) / 1920));
                position: absolute;
                z-index: 1;
                width: 500px;
            }

            @keyframes anim-element {
                to {
                    transform: rotate(360deg);
                }
            }

            &__contain {
                position: absolute;
                bottom: 40px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 80%;
                overflow: hidden;
                transition: 0.6s ease-in-out all;

                .txt-big {
                    position: relative;
                    top: 0;
                    left: -30px;
                    font-size: var(--h1);
                    line-height: 100px;
                }

                .title-item {
                    height: 64px;
                    width: calc(100% / 3);
                    margin: 0 8px;
                }

                p {
                    width: 600px;
                    height: 0;
                    overflow: hidden;
                    margin: 0 8px;
                }

                a {
                    height: 0;
                    overflow: hidden;
                    margin: 0 8px;
                }
            }

            &.onactive {
                // flex-basis: 50%;
                width: 50%;
            }

            &.active {
                // flex-basis: 50%;
                width: 50%;
                z-index: 2;

                img {
                    opacity: 1;
                    top: -100px;
                    // transform: translateY(0);
                    animation: anim-element 50s linear infinite;
                    // transform-origin: right center;
                }

                .servicios__item__contain {
                    .txt-big {
                        font-size: var(--txt-big);
                        top: -30%;
                        left: 0;
                    }

                    .title-item {
                        width: auto;
                    }

                    p {
                        margin-bottom: 2em;
                    }

                    a {
                        height: 34px;
                    }
                }

                // .txt-big {
                //     margin-bottom: 178px;
                //     line-height: 200px;
                //     font-size: var(--txt-big);
                // }

                // .title-item {
                //     font-size: var(--h2);
                //     margin-bottom: 0.5em;
                // }

                // p {
                //     margin-bottom: 32px;
                //     display: block;
                // }

                // a {
                //     display: block;
                // }
            }

            &:last-child {
                border: 0;
            }
        }
    }

    .contact {
        padding: 120px 0 0;
        // overflow-x: hidden;

        &--wrap {
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            min-width: 100%;
            margin-bottom: 170px;
        }

        &--marquee {
            display: flex;
            flex-shrink: 0;
            // height: 50px;
            align-items: center;
            animation: slide-left 25s linear infinite;

            @keyframes slide-left {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-100%);
                }
            }

            h2 {
                font-size: var(--h1);
                line-height: 100px;
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 0.2em;
                // animation: marquee 15s linear infinite;

                &::after {
                    content: "";
                    display: block;
                    width: 32px;
                    height: 32px;
                    background: url(../img/Monodata.svg) no-repeat center /
                        contain;
                    margin: 0.2em 0em 0 0.3em;
                    animation: logo-mono 10s infinite linear;
                }

                @keyframes logo-mono {
                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        &--data {
            padding-top: 120px;

            a {
                color: inherit;
            }

            .col-lg-3 {
                border-left: 1px solid;
                padding-bottom: 50px;

                &:first-child {
                    border: 0;
                }
            }

            h4 {
                margin-bottom: 0.3em;
            }

            a {
                font-size: var(--h3);
            }

            &--redes {
                a:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .home {
        .servicios__item {
            // &:nth-child(1) {
            //     &.active {
            //         p {
            //             height: calc(110px + 130 * ((100vw - 1440px) / 1920));
            //         }
            //     }
            // }
            // &:nth-child(2) {
            //     &.active {
            //         p {
            //             height: calc(44px + 90 * ((100vw - 1440px) / 1920));
            //         }
            //     }
            // }

            &:nth-child(3) {
                &.active {
                    p {
                        height: calc(96px + 100 * ((100vw - 1440px) / 1920));
                    }
                }
            }
            &:nth-child(4) {
                &.active {
                    p {
                        height: calc(44px + 60 * ((100vw - 1440px) / 1920));
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .home {
        .info--api--content {
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            animation: slide-left 15s linear infinite;

            @keyframes slide-left {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-100%);
                }
            }

            h6 {
                white-space: nowrap;
                margin-right: 100px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .hero {
            padding-top: 42px;

            &--contain {
                margin-bottom: 56px;

                .splt {
                    font-size: var(--h2);
                    line-height: 40px;
                }
            }

            &--video {
                height: auto;

                .cursor {
                    transform: none !important;
                    margin: auto;
                    right: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }

        .projects {
            padding: 0px 0 24px;

            h2 {
                font-size: var(--h4);
                line-height: 24px;
                margin-bottom: 86px;
            }
        }

        .servicios {
            &--pic {
                height: auto;
            }
        }
    }
}
