.news-detail {
    .destacada {
        &--info {
            margin-bottom: 72px;
        }
    }

    .container-fluid {
        position: relative;
    }

    .swiper {
        width: 90%;
        margin-left: 0;

        &-slide {
            picture {
                height: 700px;
                overflow: hidden;
                display: block;
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-pagination {
            height: max-content;
            width: max-content;
            left: 93%;
            top: 0;
            counter-reset: slide;
            flex-direction: column;
            gap: 10px;
            display: flex;

            &-bullet {
                width: 48px;
                height: 48px;
                border: 1px solid var(--bg-prm);
                color: var(--bg-prm);
                background: var(--bg-sec);
                opacity: 1;
                display: grid;
                place-items: center;
                font-size: var(--h4);

                &-active {
                    background: var(--bg-prm);
                    color: var(--bg-sec);
                }
            }
        }
    }

    &--parrafos {
        padding: 72px var(--bs-gutter-x, 2rem) 0;

        .col-lg-9 > * {
            margin-bottom: 48px;
        }
    }
}
