.news-detail {
    .destacada {
        &--info {
            margin-bottom: 72px;
        }
    }

    .container-fluid {
        position: relative;
    }

    .swiper {
        width: 90%;
        margin-left: 0;

        &.portada {
            width: 100%;
        }

        &-slide {
            picture {
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-pagination {
            height: max-content;
            width: max-content;
            left: 93%;
            top: 0;
            counter-reset: slide;
            flex-direction: column;
            gap: 10px;
            display: flex;

            &-bullet {
                width: 48px;
                height: 48px;
                border: 1px solid var(--bg-prm);
                color: var(--bg-prm);
                background: var(--bg-sec);
                opacity: 1;
                display: grid;
                place-items: center;
                font-size: var(--h4);

                &-active {
                    background: var(--bg-prm);
                    color: var(--bg-sec);
                }
            }
        }
    }

    &--parrafos {
        padding: 72px var(--bs-gutter-x, 2rem) 0;

        .col-lg-9 {
            & > * {
                margin-bottom: 48px;
            }

            h2 {
                p,
                span,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                a,
                li {
                    font-size: var(--h2);
                    line-height: 56px;
                }
            }

            & > p {
                font-size: var(--l);
                line-height: 36px;
            }
        }
    }
}

@media (max-width: 768px) {
    .news {
        .destacada {
            padding: 40px 0;

            &--info {
                margin-bottom: 24px;
                h1 {
                    font-size: var(--h2);
                    line-height: 1.25;
                }
            }
        }

        .grid {
            &__item {
                padding: 40px 0;
            }
        }
    }
}
