.proyecto-detalle {
    @include listaProyecto;
    .info-detalle {
        padding-top: 256px;

        .hero--video {
            position: relative;
            overflow: hidden;
            cursor: none;
            height: calc(600px + 700 * ((100vw - 1280px) / 1920));

            & * {
                cursor: none;
            }

            .vjs-poster {
                background-size: cover;
            }

            .cursor {
                background: url("../img/Screw.svg") no-repeat center / contain;
                width: 160px;
                height: 160px;
                position: absolute;
                z-index: 2;

                &.show {
                    display: block;
                }
                &.hide {
                    display: none;
                }

                &.pause {
                    filter: invert(1);
                }
            }

            video {
                aspect-ratio: 16/9;
            }
        }

        &-resume {
            padding: 64px 0 104px;
        }

        &-quotes {
            padding-bottom: 104px;
        }
    }

    .swiper {
        &-navigation {
            position: absolute;
            right: 0;
            bottom: 24px;
            display: flex;
            align-items: center;
            column-gap: 30px;
            padding-right: var(--bs-gutter-x, 2rem);
        }

        &-nav {
            display: flex;
            align-items: center;
            gap: 30px;

            .swiper-button-next,
            .swiper-button-prev {
                position: relative;
                inset: 0;
                opacity: 1;
                margin: 0;
                height: auto;

                &::after {
                    font-family: "icomoon" !important;
                    content: "\e90a";
                    color: #fff;
                    font-size: x-large;
                }

                &.swiper-button-prev {
                    transform: rotate(180deg);
                }
            }
        }

        &-pagination-custom {
            color: #fff;
            position: relative;
            font-size: var(--h3);
            bottom: 0;
        }
    }

    .marquee {
        margin-bottom: 240px;

        &-wrap {
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            min-width: 100%;
            padding: 90px 0;

            @keyframes slide-left {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-100%);
                }
            }

            h2 {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 0.2em;
                // animation: marquee 15s linear infinite;

                @keyframes logo-mono {
                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        &-marquee {
            display: flex;
            flex-shrink: 0;
            // height: 50px;
            align-items: center;
            animation: slide-left 25s linear infinite;
        }

        &-content {
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            min-width: 100%;
        }

        &-data {
            align-items: center;
            padding: 16px 150px 16px 0;
            justify-content: space-between;
            border-top: 1px solid var(--bg-prm);
            display: flex;
            flex-shrink: 0;
            column-gap: 150px;
            align-items: center;
            animation: slide-right 25s linear infinite;
            animation-direction: reverse;

            @keyframes slide-right {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-100%);
                }
            }

            h5 {
                font-family: var(--sec-regular);
                font-weight: 500;
                -webkit-text-stroke: 0.5px;

                span {
                    display: block;
                    font-weight: normal;
                    -webkit-text-stroke: 0;
                }
            }
        }
    }

    .related {
        padding-bottom: 95px;
    }
}
