& {
    overflow-x: hidden;
    position: relative;
    font-family: var(--prm-regular);
    background: #fff;
    color: var(--bg-prm);
    scroll-behavior: smooth;

    // #viewport {
    //     overflow: hidden;
    //     position: fixed;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }

    main {
        overflow: visible;
        width: 100%;
        padding-top: 0;
    }

    .container-fluid {
        padding-right: var(--bs-gutter-x, 2rem);
        padding-left: var(--bs-gutter-x, 2rem);
    }

    .padding-full {
        padding-right: var(--bs-gutter-x, 2rem);
        padding-left: var(--bs-gutter-x, 2rem);
    }

    .icon-arrow-after {
        @media (hover: hover) {
            &:hover {
                color: var(--bg-prm);

                &::after {
                    transform: translateX(10px);
                }
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
        line-height: normal;
    }

    .txt-big {
        font-size: var(--txt-big);
        line-height: 200px;
    }

    h1,
    .txt-h1 {
        font-size: var(--h1);
        line-height: 100px;
    }

    .txt-5xl {
        font-size: var(--5xl);
        line-height: 88px;
    }

    h2,
    .txt-3xl {
        font-size: var(--h2);
        line-height: 56px;
    }

    .txt-2xl {
        font-size: var(--2xl);
        line-height: 32px;
    }

    h3,
    .txt-xl {
        font-size: var(--h3);
        line-height: 32px;
    }
    h4,
    .txt-h4 {
        font-size: var(--h4);
        list-style: 24px;
    }

    h5,
    .txt-h5 {
        font-size: var(--h5);
        line-height: 24px;
    }

    .txt-l {
        font-size: var(--l);
        line-height: 36px;
    }

    .txt-h6 {
        font-size: var(--h6);
        line-height: 16px;
    }

    .txt-4xl {
        font-size: var(--4xl);
        line-height: 80px;
    }

    .txt-s {
        font-size: var(--s);
        line-height: 18px;
    }
    p {
        font-size: var(--h4);
        list-style: 24px;
    }

    a {
        color: inherit !important;
        text-decoration: none;
    }
}

// /// TABLET
// @media (max-width:1024px) {
//     & {}
// }

/// MOBILE
@media (max-width: 768px) {
    & {
        .container-fluid {
            padding-right: var(--bs-gutter-x, 0.75rem);
            padding-left: var(--bs-gutter-x, 0.75rem);
        }

        .icon-arrow-after {
            font-size: var(--h4);
            &::after {
                font-size: medium;
                margin-left: 1em;
            }
        }

        h2 {
            line-height: 40px;
        }

        h4 {
            line-height: 24px;
        }

        .txt-s {
            font-size: var(--s);
            line-height: 24px;
        }
    }
}
