extends includes/head.pug

block head-page
    title Monodata | Experimentos

    script(src='https://code.jquery.com/jquery-3.6.3.min.js', integrity='sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=', crossorigin='anonymous')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/Flip.min.js', integrity='sha512-RL2ypMFkOs/iB79bWnNiFrZRCqyExtQ38n/K+t7Xjf09YZcvSzqgSaGVj+fiVYEqVRLf/WjdHmwGImZM3XO5gA==', crossorigin='anonymous', referrerpolicy='no-referrer')
    script(src="js/anim-exp-new.min.js" defer) 



block content
    -ruta = ""
    -exp = "active"

    #viewport
        include includes/header
        main.exp
            include includes/api

            section.marquee-exp 
                .marquee-exp-wrap
                    .marquee-exp_marquee.d-flex.align-items-center
                        h2 Tabla periódica de experimentos

                    .marquee-exp_marquee.d-flex.align-items-center
                        h2 Tabla periódica de experimentos

            section.summary
                .container-fluid 
                    .offset-lg-3.col-lg-7   
                        h3.txt-l Disfrutamos explorar y compartir nuestros procesos diarios. Esta colección de experimentos surge de nuestro interés por las nuevas tecnologías y sus aplicaciones a futuros proyectos.  

            section.tabla 
                .container-xxl.container-fluid
                    .tabla-wrap.grid.displayContainer
                        - var n = 0;
                            while n < 5
                                - ++n
                                .grid-item
                                    .icon-close
                                    .tabla-wrap_item
                                        h2.txt-2xl Ct

                                        .swiper 
                                            .swiper-wrapper
                                                .swiper-slide
                                                    picture 
                                                        source(srcset="img/Copia_de_coral_surface3_1.webp", type="image/webp")
                                                        img.img-fluid(src="img/Copia_de_coral_surface3_1.png", alt="image/webp")

                                                .swiper-slide
                                                    picture 
                                                        source(srcset="img/Copia_de_coral_surface3_1.webp", type="image/webp")
                                                        img.img-fluid(src="img/Copia_de_coral_surface3_1.png", alt="image/webp")

                                                .swiper-slide
                                                    picture 
                                                        source(srcset="img/Copia_de_coral_surface3_1.webp", type="image/webp")
                                                        img.img-fluid(src="img/Copia_de_coral_surface3_1.png", alt="image/webp")

                                            .swiper-pagination#pag-uno

                                        .tabla-wrap_item_data
                                            .tabla-wrap_item_data_name
                                                h4.txt-h5 Coral Texture
                                                h4.txt-h6 09.2019

                                            h5.txt-h5.tabla-wrap_item_hash Self portraits #proceduralmodeling #houdini rendered on @touchdesigner @sidefxhoudini #new_media_art #glsl #creativecoding

                                //- .grid-item
                                //-     .icon-close
                                //-     .tabla-wrap_item
                                //-         h2.txt-2xl Tp

                                //-         .swiper 
                                //-             .swiper-wrapper
                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia_de_coral_surface3_1-2.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia_de_coral_surface3_1-2.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia_de_coral_surface3_1-2.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia_de_coral_surface3_1-2.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia_de_coral_surface3_1-2.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia_de_coral_surface3_1-2.png", alt="image/webp")

                                //-             .swiper-pagination

                                //-         .tabla-wrap_item_data
                                //-             .tabla-wrap_item_data_name
                                //-                 h4.txt-h5 Coral Texture
                                //-                 h4.txt-h6 09.2019

                                //-             h5.txt-h5.tabla-wrap_item_hash Self portraits #proceduralmodeling #houdini rendered on @touchdesigner @sidefxhoudini #new_media_art #glsl #creativecoding

                                //- .grid-item
                                //-     .icon-close
                                //-     .tabla-wrap_item
                                //-         h2.txt-2xl Rs

                                //-         .swiper 
                                //-             .swiper-wrapper
                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia_de_coral_surface3_1-3.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia_de_coral_surface3_1-3.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia_de_coral_surface3_1-3.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia_de_coral_surface3_1-3.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia_de_coral_surface3_1-3.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia_de_coral_surface3_1-3.png", alt="image/webp")

                                //-             .swiper-pagination

                                //-         .tabla-wrap_item_data
                                //-             .tabla-wrap_item_data_name
                                //-                 h4.txt-h5 Coral Texture
                                //-                 h4.txt-h6 09.2019

                                //-             h5.txt-h5.tabla-wrap_item_hash Self portraits #proceduralmodeling #houdini rendered on @touchdesigner @sidefxhoudini #new_media_art #glsl #creativecoding

                                //- .grid-item
                                //-     .icon-close
                                //-     .tabla-wrap_item
                                //-         h2.txt-2xl Ko

                                //-         .swiper 
                                //-             .swiper-wrapper
                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia_de_coral_surface3_1.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia_de_coral_surface3_1.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia_de_coral_surface3_1.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia_de_coral_surface3_1.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia_de_coral_surface3_1.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia_de_coral_surface3_1.png", alt="image/webp")

                                //-             .swiper-pagination

                                //-         .tabla-wrap_item_data
                                //-             .tabla-wrap_item_data_name
                                //-                 h4.txt-h5 Coral Texture
                                //-                 h4.txt-h6 09.2019

                                //-             h5.txt-h5.tabla-wrap_item_hash Self portraits #proceduralmodeling #houdini rendered on @touchdesigner @sidefxhoudini #new_media_art #glsl #creativecoding

                                //- .grid-item.vert
                                //-     .icon-close
                                //-     .tabla-wrap_item
                                //-         h2.txt-2xl Me

                                //-         .swiper 
                                //-             .swiper-wrapper
                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia41.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia41.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia41.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia41.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Copia41.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Copia41.png", alt="image/webp")

                                //-             .swiper-pagination

                                //-         .tabla-wrap_item_data
                                //-             .tabla-wrap_item_data_name
                                //-                 h4.txt-h5 Coral Texture
                                //-                 h4.txt-h6 09.2019

                                //-             h5.txt-h5.tabla-wrap_item_hash Self portraits #proceduralmodeling #houdini rendered on @touchdesigner @sidefxhoudini #new_media_art #glsl #creativecoding

                                //- .grid-item
                                //-     .icon-close
                                //-     .tabla-wrap_item
                                //-         h2.txt-2xl Op

                                //-         .swiper 
                                //-             .swiper-wrapper
                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Image-2.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Image-2.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Image-2.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Image-2.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Image-2.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Image-2.png", alt="image/webp")

                                //-             .swiper-pagination

                                //-         .tabla-wrap_item_data
                                //-             .tabla-wrap_item_data_name
                                //-                 h4.txt-h5 Coral Texture
                                //-                 h4.txt-h6 09.2019

                                //-             h5.txt-h5.tabla-wrap_item_hash Self portraits #proceduralmodeling #houdini rendered on @touchdesigner @sidefxhoudini #new_media_art #glsl #creativecoding

                                //- .grid-item
                                //-     .icon-close
                                //-     .tabla-wrap_item
                                //-         h2.txt-2xl Gr

                                //-         .swiper 
                                //-             .swiper-wrapper
                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Image-3.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Image-3.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Image-3.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Image-3.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Image-3.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Image-3.png", alt="image/webp")

                                //-             .swiper-pagination

                                //-         .tabla-wrap_item_data
                                //-             .tabla-wrap_item_data_name
                                //-                 h4.txt-h5 Coral Texture
                                //-                 h4.txt-h6 09.2019

                                //-             h5.txt-h5.tabla-wrap_item_hash Self portraits #proceduralmodeling #houdini rendered on @touchdesigner @sidefxhoudini #new_media_art #glsl #creativecoding

                                //- .grid-item
                                //-     .icon-close
                                //-     .tabla-wrap_item
                                //-         h2.txt-2xl Ho

                                //-         .swiper 
                                //-             .swiper-wrapper
                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Image-4.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Image-4.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Image-4.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Image-4.png", alt="image/webp")

                                //-                 .swiper-slide
                                //-                     picture 
                                //-                         source(srcset="img/lab/Image-4.webp", type="image/webp")
                                //-                         img.img-fluid(src="img/lab/Image-4.png", alt="image/webp")

                                //-             .swiper-pagination

                                //-         .tabla-wrap_item_data
                                //-             .tabla-wrap_item_data_name
                                //-                 h4.txt-h5 Coral Texture
                                //-                 h4.txt-h6 09.2019

                                //-             h5.txt-h5.tabla-wrap_item_hash Self portraits #proceduralmodeling #houdini rendered on @touchdesigner @sidefxhoudini #new_media_art #glsl #creativecoding


            section.marquee-exp.marquee--resume 
                .marquee-exp-wrap
                    .marquee-exp_marquee.d-flex.align-items-center
                        h2.txt-h2 Para plantear nuevas preguntas, vislumbrar nuevas posibilidades y considerar viejos problemas desde puntos de vista nuevos que marcan los avances positivos de la ciencia se requiere una imaginación creadora”

                    .marquee-exp_marquee.d-flex.align-items-center
                        h2.txt-h2 Para plantear nuevas preguntas, vislumbrar nuevas posibilidades y considerar viejos problemas desde puntos de vista nuevos que marcan los avances positivos de la ciencia se requiere una imaginación creadora”

                .marquee--resume   
                    .container-fluid
                        h2.txt-h1 ¿Te gustó?

            include includes/footer

    include includes/modal-contact.pug
    include includes/modal-unete.pug
