extends includes/head.pug
block head-page
    title Monodata
    script(src='js/scroll-smooth.min.js' defer)
    script(src="js/animations-home.min.js" defer) 
    link(href='https://vjs.zencdn.net/7.20.3/video-js.css', rel='stylesheet')
    script(src='https://vjs.zencdn.net/7.20.3/video.min.js')


block content
    -ruta = ""

    #viewport
        include includes/header
        main.home
            include includes/api

            section.hero
                .container-fluid
                    .hero--contain
                        h1.splt Arte. Tecnología. 
                        h2.splt Experiencias.
                        h2.splt Para cualquier audencia.


                .hero--video
                    .cursor.pause PAUSE VIDEO
                    .cursor.play PLAY VIDEO
                    video#video-desktop.video-js(muted playsinline preload loop poster="img/Reel_placeholder.jpg") 
                        source(src="video/TEASER_KIA-MOTION.mp4", type="video/mp4")

                    //- picture 
                    //-     source(srcset="img/Reel_placeholder.webp", type="image/webp")
                    //-     img.img-fluid.w-100(src="img/Reel_placeholder.jpg", alt="")

            section.projects
                .container-fluid
                    h2.splt Monodata Interactive Works es un estudio de diseño y arte digital con sede en la Ciudad de México. Creamos contenido y experiencias en espacios públicos desde un enfoque orientado al futuro integrando arte, diseño, desarrollo de software, nuevas tecnologías y sistemas interactivos.

                    a(href="#!") 
                        h3.icon-arrow-after Ver proyectos


            section.servicios
                picture.servicios--pic
                    source(srcset="img/DSC_4541_2.webp", type="image/webp")
                    img.img-fluid.w-100(src="img/DSC_4541_2.jpg", alt="")

                .container-fluid#services-d 
                    .row
                        .servicios__item.active
                            picture 
                                source(srcset="img/Copia_de_coral_surface3_1.webp", type="image/webp")
                                img.img-fluid(src="img/Copia_de_coral_surface3_1.png", alt="")


                            .servicios__item__contain
                                h2.txt-big 01
                                h3.title-item-vert.txt-h6 Investigación y desarrollo  

                                .servicios__item__contain__wrap
                                    h3.title-item.txt-3xl Investigación y desarrollo  
                                    p Nuestra experiencia con distintas tecnologías nos permite detectar tendencias del mañana para crear contenidos novedosos y, de esta forma, posicionar a nuestros clientes en nuevas dimensiones de proyección y visibilidad. Diseñamos a partir de fusionar ideas y tecnologías para desarrollar experiencias de usuario relevantes. 
                                    a(href="#!") 
                                        h3.icon-arrow-after.txt-xl Ver servicio

                        .servicios__item
                            picture 
                                source(srcset="img/Copia_de_coral_surface3_12.webp", type="image/webp")
                                img.img-fluid(src="img/Copia_de_coral_surface3_12.png", alt="")

                            .servicios__item__contain
                                h2.txt-big 02
                                h3.title-item-vert.txt-h6 Creación de contenido

                                .servicios__item__contain__wrap
                                    h3.title-item.txt-3xl Creación de contenido
                                    p Nuestra curiosidad y conocimiento interdisciplinario favorecen la creación de contenido dirigido a diferentes tipos de personas.
                                    a(href="#!") 
                                        h3.icon-arrow-after.txt-xl Ver servicio

                        .servicios__item
                            picture 
                                source(srcset="img/Copia_de_coral_surface3_13.webp", type="image/webp")
                                img.img-fluid(src="img/Copia_de_coral_surface3_13.png", alt="")

                            .servicios__item__contain
                                h2.txt-big 03
                                h3.title-item-vert.txt-h6 Producción 

                                .servicios__item__contain__wrap
                                    h3.title-item.txt-3xl Producción 
                                    p La operación e integración de todos los elementos del proceso de creación hacen posible que tanto nuestras ideas como las de nuestros clientes puedan ser plasmadas de forma tangible para las personas. 

                                    a(href="#!") 
                                        h3.icon-arrow-after.txt-xl Ver servicio

                        .servicios__item
                            picture 
                                source(srcset="img/Copia_de_coral_surface3_14.webp", type="image/webp")
                                img.img-fluid(src="img/Copia_de_coral_surface3_14.png", alt="")

                            .servicios__item__contain
                                h2.txt-big 04
                                h3.title-item-vert.txt-h6 Orientación y asesoría

                                .servicios__item__contain__wrap
                                    h3.title-item.txt-3xl Orientación y asesoría
                                    p La diversidad de talentos en el equipo posibilita que nuestras propuestas sean creativas y técnicamente viables.  

                                    a(href="#!") 
                                        h3.icon-arrow-after.txt-xl Ver servicio

                .container-fluid#services-m
                    .swiper.swiper-mobile
                        .swiper-wrapper
                            .swiper-slide 
                                .servicios__item.active
                                    picture 
                                        source(srcset="img/Copia_de_coral_surface3_1.webp", type="image/webp")
                                        img.img-fluid(src="img/Copia_de_coral_surface3_1.png", alt="")

                                    .servicios__item__contain
                                        .servicios__item__contain__num
                                            h2.txt-big 01

                                        .servicios__item__contain__info
                                            .swiper-pagination

                                            h3.title-item Investigación y desarrollo  
                                            p Nuestra experiencia con distintas tecnologías nos permite detectar tendencias del mañana para crear contenidos novedosos y, de esta forma, posicionar a nuestros clientes en nuevas dimensiones de proyección y visibilidad. Diseñamos a partir de fusionar ideas y tecnologías para desarrollar experiencias de usuario relevantes. 
                                            a(href="proyectos.html") 
                                                h3.icon-arrow-after Ver servicio

                            .swiper-slide 
                                .servicios__item
                                    picture 
                                        source(srcset="img/Copia_de_coral_surface3_12.webp", type="image/webp")
                                        img.img-fluid(src="img/Copia_de_coral_surface3_12.png", alt="")

                                    .servicios__item__contain
                                        .servicios__item__contain__num
                                            h2.txt-big 02

                                        .servicios__item__contain__info
                                            .swiper-pagination

                                            h3.title-item Creación de contenido
                                            p Nuestra curiosidad y conocimiento interdisciplinario favorecen la creación de contenido dirigido a diferentes tipos de personas.
                                            a(href="proyectos.html") 
                                                h3.icon-arrow-after Ver servicio

                            .swiper-slide 
                                .servicios__item
                                    picture 
                                        source(srcset="img/Copia_de_coral_surface3_13.webp", type="image/webp")
                                        img.img-fluid(src="img/Copia_de_coral_surface3_13.png", alt="")

                                    .servicios__item__contain
                                        .servicios__item__contain__num
                                            h2.txt-big 03

                                        .servicios__item__contain__info
                                            .swiper-pagination
                                            h3.title-item Producción 
                                            p La operación e integración de todos los elementos del proceso de creación hacen posible que tanto nuestras ideas como las de nuestros clientes puedan ser plasmadas de forma tangible para las personas. 

                                            a(href="proyectos.html") 
                                                h3.icon-arrow-after Ver servicio

                            .swiper-slide 
                                .servicios__item
                                    picture 
                                        source(srcset="img/Copia_de_coral_surface3_14.webp", type="image/webp")
                                        img.img-fluid(src="img/Copia_de_coral_surface3_14.png", alt="")

                                    .servicios__item__contain
                                        .servicios__item__contain__num
                                            h2.txt-big 04

                                        .servicios__item__contain__info
                                            .swiper-pagination

                                            h3.title-item Orientación y asesoría
                                            p La diversidad de talentos en el equipo posibilita que nuestras propuestas sean creativas y técnicamente viables.  

                                            a(href="proyectos.html") 
                                                h3.icon-arrow-after Ver servicio


            include includes/footer.pug

    include includes/modal-contact.pug




