extends includes/head.pug
block head-page
    title Monodata
    script(src="js/animations-home.min.js" defer) 
    link(href='https://vjs.zencdn.net/7.20.3/video-js.css', rel='stylesheet')
    script(src='https://vjs.zencdn.net/7.20.3/video.min.js')


block content
    -ruta = ""

    #viewport
        include includes/header
        main.home
            section.info--api 
                .container-fluid 
                    .row 
                        .col-12.d-flex.align-items-center.info--api--content
                            //- h6#one
                            //- h6#two
                            //- h6#tre
                            //- h6#fou
                            //- h6#fiv
                            //- h6#six
                            h6#one Ciudad de México 19:10 h
                            h6#two Elevación 2.240 m
                            h6#tre Superficie 1.485 km²
                            h6#fou 22 °C
                            h6#fiv Viento del N a 18 km/h
                            h6#six Humedad 30%

            section.hero
                .container-fluid
                    .hero--contain
                        h1.splt Arte. Tecnología. 
                        h2.splt Experiencias.
                        h2.splt Para cualquier audencia.


                .hero--video
                    //- .cursor.pause.hide
                    .cursor.play
                    video#video-desktop.video-js(muted playsinline preload loop poster="img/Reel_placeholder.jpg") 
                        source(src="video/TEASER_KIA-MOTION.mp4", type="video/mp4")

                    //- picture 
                    //-     source(srcset="img/Reel_placeholder.webp", type="image/webp")
                    //-     img.img-fluid.w-100(src="img/Reel_placeholder.jpg", alt="")

            section.projects
                .container-fluid
                    h2.splt Monodata Interactive Works es un estudio de diseño y arte digital con sede en la Ciudad de México. Creamos contenido y experiencias en espacios públicos desde un enfoque orientado al futuro integrando arte, diseño, desarrollo de software, nuevas tecnologías y sistemas interactivos.

                    a(href="#!") 
                        h3.icon-arrow-after Ver proyectos


            section.servicios
                picture.servicios--pic
                    source(srcset="img/DSC_4541_2.webp", type="image/webp")
                    img.img-fluid.w-100(src="img/DSC_4541_2.jpg", alt="")

                .container-fluid#services-d 
                    .row
                        .servicios__item.active
                            picture 
                                source(srcset="img/Copia_de_coral_surface3_1.webp", type="image/webp")
                                img.img-fluid(src="img/Copia_de_coral_surface3_1.png", alt="")

                            h6#text Ciudad de México 19:10 h
                                span#cursor

                            .servicios__item__contain
                                h2.txt-big 01
                                h3.title-item Investigación y desarrollo  
                                p Nuestra experiencia con distintas tecnologías nos permite detectar tendencias del mañana para crear contenidos novedosos y, de esta forma, posicionar a nuestros clientes en nuevas dimensiones de proyección y visibilidad. Diseñamos a partir de fusionar ideas y tecnologías para desarrollar experiencias de usuario relevantes. 
                                a(href="#!") 
                                    h3.icon-arrow-after Ver servicio

                        .servicios__item
                            picture 
                                source(srcset="img/Copia_de_coral_surface3_12.webp", type="image/webp")
                                img.img-fluid(src="img/Copia_de_coral_surface3_12.png", alt="")

                            h6 Ciudad de México 19:10 h
                            .servicios__item__contain
                                h2.txt-big 02
                                h3.title-item Creación de contenido
                                p Nuestra curiosidad y conocimiento interdisciplinario favorecen la creación de contenido dirigido a diferentes tipos de personas.
                                a(href="#!") 
                                    h3.icon-arrow-after Ver servicio

                        .servicios__item
                            picture 
                                source(srcset="img/Copia_de_coral_surface3_13.webp", type="image/webp")
                                img.img-fluid(src="img/Copia_de_coral_surface3_13.png", alt="")

                            h6 Ciudad de México 19:10 h
                            .servicios__item__contain
                                h2.txt-big 03
                                h3.title-item Producción 
                                p La operación e integración de todos los elementos del proceso de creación hacen posible que tanto nuestras ideas como las de nuestros clientes puedan ser plasmadas de forma tangible para las personas. 

                                a(href="#!") 
                                    h3.icon-arrow-after Ver servicio

                        .servicios__item
                            picture 
                                source(srcset="img/Copia_de_coral_surface3_14.webp", type="image/webp")
                                img.img-fluid(src="img/Copia_de_coral_surface3_14.png", alt="")

                            h6 Ciudad de México 19:10 h
                            .servicios__item__contain
                                h2.txt-big 04
                                h3.title-item Orientación y asesoría
                                p La diversidad de talentos en el equipo posibilita que nuestras propuestas sean creativas y técnicamente viables.  

                                a(href="#!") 
                                    h3.icon-arrow-after Ver servicio

                .container-fluid#services-m
                    .swiper
                        .swiper-wrapper
                            .swiper-slide 
                                .servicios__item.active
                                    picture 
                                        source(srcset="img/Copia_de_coral_surface3_1.webp", type="image/webp")
                                        img.img-fluid(src="img/Copia_de_coral_surface3_1.png", alt="")

                                    h6#text Ciudad de México 19:10 h
                                        span#cursor

                                    .servicios__item__contain
                                        h2.txt-big 01
                                        h3.title-item Investigación y desarrollo  
                                        p Nuestra experiencia con distintas tecnologías nos permite detectar tendencias del mañana para crear contenidos novedosos y, de esta forma, posicionar a nuestros clientes en nuevas dimensiones de proyección y visibilidad. Diseñamos a partir de fusionar ideas y tecnologías para desarrollar experiencias de usuario relevantes. 
                                        a(href="#!") 
                                            h3.icon-arrow-after Ver servicio
                                .swiper-pagination

                            .swiper-slide 
                                .servicios__item
                                    picture 
                                        source(srcset="img/Copia_de_coral_surface3_12.webp", type="image/webp")
                                        img.img-fluid(src="img/Copia_de_coral_surface3_12.png", alt="")

                                    h6 Ciudad de México 19:10 h
                                    .servicios__item__contain
                                        h2.txt-big 02
                                        h3.title-item Creación de contenido
                                        p Nuestra curiosidad y conocimiento interdisciplinario favorecen la creación de contenido dirigido a diferentes tipos de personas.
                                        a(href="#!") 
                                            h3.icon-arrow-after Ver servicio
                                .swiper-pagination

                            .swiper-slide 
                                .servicios__item
                                    picture 
                                        source(srcset="img/Copia_de_coral_surface3_13.webp", type="image/webp")
                                        img.img-fluid(src="img/Copia_de_coral_surface3_13.png", alt="")

                                    h6 Ciudad de México 19:10 h
                                    .servicios__item__contain
                                        h2.txt-big 03
                                        h3.title-item Producción 
                                        p La operación e integración de todos los elementos del proceso de creación hacen posible que tanto nuestras ideas como las de nuestros clientes puedan ser plasmadas de forma tangible para las personas. 

                                        a(href="#!") 
                                            h3.icon-arrow-after Ver servicio
                                .swiper-pagination

                            .swiper-slide 
                                .servicios__item
                                    picture 
                                        source(srcset="img/Copia_de_coral_surface3_14.webp", type="image/webp")
                                        img.img-fluid(src="img/Copia_de_coral_surface3_14.png", alt="")

                                    h6 Ciudad de México 19:10 h
                                    .servicios__item__contain
                                        h2.txt-big 04
                                        h3.title-item Orientación y asesoría
                                        p La diversidad de talentos en el equipo posibilita que nuestras propuestas sean creativas y técnicamente viables.  

                                        a(href="#!") 
                                            h3.icon-arrow-after Ver servicio

                                .swiper-pagination

            section.contact 
                .contact--wrap
                    .contact--marquee.d-flex.align-items-center
                        h2 Arte
                        h2 Tecnología
                        h2 Experiencias
                    .contact--marquee.d-flex.align-items-center
                        h2 Arte
                        h2 Tecnología
                        h2 Experiencias

                .container-fluid.contact--access
                    .row 
                        .col-lg-4.offset-lg-3 
                            h4 Colaboremos
                            a(href="") 
                                h3.icon-arrow-after Cuéntanos sobre tu proyecto

                        .col-lg-3.offset-lg-2
                            h4 Crezcamos juntos
                            a(href="") 
                                h3.icon-arrow-after Únete al equipo

                .container-fluid.contact--data
                    .row 
                        .col-lg-3
                            h4 Calle Pitágoras 607
                            h4 Narvarte Poniente
                            h4 03020 Ciudad de México

                        .col-lg-3
                            h4 Llámanos
                            a(href="tel:+52 1 55 6719 7942") +52 1 55 6719 7942

                        .col-lg-3
                            h4 Escríbenos
                            a(href="mailto:info@monodata.mx") info@monodata.mx 

                        .col-lg-3
                            h4 Síguenos
                            .contact--data--redes
                                a.icon-LinkedIn(href="", target="_blank", rel="noopener noreferrer") 
                                a.icon-Instagram(href="", target="_blank", rel="noopener noreferrer") 
                                a.icon-Facebook(href="", target="_blank", rel="noopener noreferrer") 
                                a.icon-Twitter(href="", target="_blank", rel="noopener noreferrer") 
                                a.icon-YouTube(href="", target="_blank", rel="noopener noreferrer") 
                                a.icon-Vimeo(href="", target="_blank", rel="noopener noreferrer") 




    //- include includes/footer.pug

