extends includes/head.pug
block head-page
    title Monodata | Proyectos
    script(src="https://code.jquery.com/jquery-3.6.3.min.js", integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=", crossorigin="anonymous")
    script(src="js/anim-proyectos.min.js" defer) 
    //- script(src='js/scroll-smooth.min.js' defer)

block content
    -ruta = ""
    -proy =  "active"

    #viewport
        include includes/header
        nav.filtros 
            ul.container-fluid
                li.active.chip#Destacados Destacados
                    sup 05

                li.chip#todos Todos
                    sup 05

                li 
                    .combo#combo-tipo
                        select
                            option(selected hidden value="") Tipo de proyecto
                            option(value="iluminacion") iluminacion
                            option(value="estructura") estructura
                            option(value="destacado") estructura
                li 
                    .combo#combo-industria
                        select 
                            option(selected hidden value="") Industria
                            option(value="Educación") Educación 
                            option(value="Público") Público 
                            option(value="Educación") Educación 

        main.proyectos

            section.lista.lista-destacados
                a.Destacado(href="proyecto-detalle.html") 
                    .accordion-item
                        h2.txt-4xl(id="heading0") Kia Motion
                        .lista__data 
                            h5.txt-h6 Lugar 
                                span Ciudad de México
                            h5.txt-h6 Año 
                                span 2021
                            h5.txt-h6 Sede 
                                span World Trade Center
                            h5.txt-h6 Tipo de Proyecto
                                span Instalación lumínica

                        .accordion-collapse.collapse(id="collapse0", aria-labelledby='heading0', data-bs-parent='#accordionExample')
                            .accordion-body.p-0
                                picture 
                                    source(srcset="img/pr1.webp", type="image/webp")
                                    img.img-fluid.w-100(src="img/pr1.jpg", alt="")
                - var n = 0;
                    while n < 3
                        - ++n
                        a(href="proyecto-detalle.html" destacado industria="Público") 
                            .accordion-item
                                h2.txt-4xl(id="heading"+n) Kia Motion
                                .lista__data 
                                    h5.txt-h6 Lugar 
                                        span Ciudad de México
                                    h5.txt-h6 Año 
                                        span 2021
                                    h5.txt-h6 Sede 
                                        span World Trade Center
                                    h5.txt-h6 Tipo de Proyecto
                                        span Instalación lumínica

                                .accordion-collapse.collapse(id="collapse"+n aria-labelledby='heading'+n, data-bs-parent='#accordionExample')
                                    .accordion-body.p-0
                                        picture 
                                            source(srcset="img/pr1.webp", type="image/webp")
                                            img.img-fluid.w-100(src="img/pr1.jpg", alt="")

                        a(href="proyecto-detalle.html" iluminacion industria="Educación") 
                            .accordion-item
                                h2.txt-4xl(id="heading"+n) Absence
                                .lista__data 
                                    h5.txt-h6 Lugar 
                                        span Ciudad de México
                                    h5.txt-h6 Año 
                                        span 2021
                                    h5.txt-h6 Sede 
                                        span World Trade Center
                                    h5.txt-h6 Tipo de Proyecto
                                        span Instalación lumínica

                                .accordion-collapse.collapse(id="collapse"+n aria-labelledby='heading'+n, data-bs-parent='#accordionExample')
                                    .accordion-body.p-0
                                        picture 
                                            source(srcset="img/image_3-1.webp", type="image/webp")
                                            img.img-fluid.w-100(src="img/image_3-1.jpg", alt="")

                        a(href="proyecto-detalle.html" estructura) 
                            .accordion-item
                                h2.txt-4xl(id="heading"+n) Telar
                                .lista__data 
                                    h5.txt-h6 Lugar 
                                        span Ciudad de México
                                    h5.txt-h6 Año 
                                        span 2021
                                    h5.txt-h6 Sede 
                                        span World Trade Center
                                    h5.txt-h6 Tipo de Proyecto
                                        span Instalación lumínica

                                .accordion-collapse.collapse(id="collapse"+n aria-labelledby='heading'+n, data-bs-parent='#accordionExample')
                                    .accordion-body.p-0
                                        picture 
                                            source(srcset="img/image_3-2.webp", type="image/webp")
                                            img.img-fluid.w-100(src="img/image_3-2.jpg", alt="")

            include includes/footer

    include includes/modal-contact.pug
    include includes/modal-unete.pug
