.footer {
    .contact {
        padding: 120px 0 90px;
        // overflow-x: hidden;

        &--wrap {
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            min-width: 100%;
            margin-bottom: 170px;
        }

        &--marquee {
            display: flex;
            flex-shrink: 0;
            // height: 50px;
            align-items: center;
            animation: slide-left 25s linear infinite;

            @keyframes slide-left {
                from {
                    transform: translateX(0);
                }
                to {
                    transform: translateX(-100%);
                }
            }

            h2 {
                font-size: var(--h1);
                line-height: 100px;
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 0.2em;
                // animation: marquee 15s linear infinite;

                &::after {
                    content: "";
                    display: block;
                    width: 32px;
                    height: 32px;
                    background: url(../img/Monodata.svg) no-repeat center /
                        contain;
                    margin: 0.2em 0em 0 0.3em;
                    animation: logo-mono 10s infinite linear;
                }

                @keyframes logo-mono {
                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        &--data {
            padding-top: 120px;

            a {
                color: inherit;
            }

            .col-lg-3 {
                border-left: 1px solid;
                padding-bottom: 50px;

                &:first-child {
                    border: 0;
                }
            }

            h4 {
                margin-bottom: 0.3em;
            }

            a {
                font-size: var(--h3);
            }

            &--redes {
                a:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        .contact {
            padding: 72px 0 0px;

            &--wrap {
                margin-bottom: 126px;
            }

            &--marquee {
                h2 {
                    font-size: calc(60px + 10 * ((100vw - 360px) / 1024));
                }
            }

            &--access {
                h4 {
                    display: none;
                }

                h3 {
                    font-size: var(--h4);
                    margin-bottom: 24px;
                }
            }

            &--data {
                padding-top: 66px;

                .col-lg-3 {
                    padding-bottom: 24px;
                    border: 0;
                }

                a:not([class*="icon-"]) {
                    font-size: var(--h4);
                }

                &--redes {
                    a {
                        font-size: x-large;
                    }
                }
            }
        }
    }
}
