&.body-projects {
    .header {
        border-bottom: 0;
    }
}

.header {
    height: 96px;
    position: sticky;
    width: 100%;
    top: 0;
    align-items: center;
    z-index: 9;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    background: var(--bg-sec);
    transition: 0.3s ease-in-out all;

    &.nav-on {
        padding-top: 0;
        background: rgba($color: #1a1a1a, $alpha: 0.9);
    }
    &--logo {
        img {
            max-width: 90px;
        }
    }
    &--navegacion {
        align-items: center;
        justify-content: space-between;

        nav {
            width: 100%;
        }

        #navbarNav {
            width: 100%;
            justify-content: space-between;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;

            &.header--one {
                li {
                    margin-right: 56px;
                }
            }

            &.header--two {
                li {
                    margin-left: 24px;
                }

                #li-lang {
                    a {
                        font-size: var(--h5);

                        &:first-child {
                            margin-right: 8px;
                        }
                    }
                }
            }

            li {
                font-size: var(--h4);
                cursor: pointer;

                &.active {
                    font-family: var(--prm-medium);
                    position: relative;

                    &::after {
                        content: "";
                        height: 1px;
                        background: var(--bg-prm);
                        width: 100%;
                        left: 0;
                        bottom: 0;
                        position: absolute;
                        transform: rotateZ(-13deg);
                        // transform-origin: bottom left;
                        bottom: 0;
                        right: 0;
                        top: 50%;
                    }
                }

                a {
                    color: inherit;
                    transition: 0.3s ease-in-out all;
                    will-change: width;

                    // &.active {
                    //     font-family: var(--prm-medium);
                    // }

                    @media (hover: hover) {
                        &:hover {
                            // font-family: var(--prm-regular-italic);
                            font-style: italic;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
    .btn-ham {
        display: none;
    }

    .icon-search {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        height: 110px;

        &--logo,
        .btn-ham,
        .icon-search {
            top: 36px;
            position: fixed;
            transition: 0.3s ease-in-out all;
        }

        .btn-ham {
            left: 0;
            right: 0;
            margin: auto;

            &::before {
                content: "X";
            }
        }

        .icon-search {
            right: 16px;
        }

        &.open {
            height: 100vh;

            .header--logo,
            .btn-ham,
            .icon-search {
                top: 90%;
            }

            .header--logo {
                top: 89%;
            }

            .btn-ham {
                &::before {
                    font-family: "icomoon" !important;
                    content: "\e90c";
                }
            }

            // .icon-search {
            //     right: 32px;
            // }

            // .header--navegacion {
            //     display: block !important;
            // }

            // #navbarNav {
            //     display: block;
            // }
        }

        &--row {
            justify-content: space-between;

            & > * {
                width: calc(100% / 3);
            }
        }

        &--logo {
            z-index: 9;
            top: 30px;
        }

        .btn-ham {
            // width: 100px;
            // height: 30px;
            // background-color: red;
            // width: auto;
            display: block;
            text-align: center;
            z-index: 9;

            &::before {
                content: "Menú";
                font-size: x-large;
                transition: 0.3s ease-in-out all;
            }

            // &[aria-expanded="true"] {
            //     &::before {
            //         content: "\e905";
            //     }
            // }
        }

        .icon-search {
            // width: auto;
            font-size: x-large;
            text-align: right;
            z-index: 9;
        }

        #navbarNav {
            position: fixed;
            // height: 100%;
            background: var(--bg-sec);
            top: 0;
            left: 0;
            width: 100vw;
            padding: 72px 1em;
            transition: 0.3s ease-in-out all;
        }

        &--navegacion {
            // display: none !important;
            position: absolute;

            ul {
                flex-direction: column;
                align-items: flex-start;

                li {
                    margin: 0 0 32px !important;

                    &:last-child {
                        margin: 0 0 16px !important;
                    }
                    a {
                        font-size: var(--h2);
                    }
                }
            }
        }

        &--two {
            flex-direction: column-reverse !important;

            #li-lang {
                margin-top: 40px !important;
                a {
                    margin-right: 24px !important;
                }
            }
        }
    }
}
