@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/font-icon/icomoon.eot?qfx7iu');
  src:  url('../fonts/font-icon/icomoon.eot?qfx7iu#iefix') format('embedded-opentype'),
    url('../fonts/font-icon/icomoon.ttf?qfx7iu') format('truetype'),
    url('../fonts/font-icon/icomoon.woff?qfx7iu') format('woff'),
    url('../fonts/font-icon/icomoon.svg?qfx7iu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before ,
[class^="icon-"]::after, [class*=" icon-"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    border: 0;
    background: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
}
.icon-icon-plus:before {
  content: "\e90d";
  color: #fdfdfd;
}
.icon-close:before {
  content: "\e90c";
}

.icon-arrow-bottom:before {
  content: "\e90b";
}

.icon-Screw .path1:before {
  content: "\e900";
  color: rgb(22, 22, 22);
}
.icon-Screw .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(253, 253, 253);
}
.icon-Monodata:before {
  content: "\e902";
}

.icon-search {
  appearance: none;
  background: none;
  border: 0;
}

.icon-search:before {
  content: "\e903";
  color: var(--bg-prm);
}
.icon-Vimeo:before {
  content: "\e904";
}
.icon-YouTube:before {
  content: "\e905";
}
.icon-Twitter:before {
  content: "\e906";
}
.icon-Facebook:before {
  content: "\e907";
}
.icon-Instagram:before {
  content: "\e908";
}
.icon-LinkedIn:before {
  content: "\e909";
}
.icon-arrow:before {
  content: "\e90a";
  font-size: large;
}

.icon-arrow-after::after {
  content: "\e90a";
  font-size: large;
  margin-left: 0.5em;
  transition: 0.3s ease-in-out all;
  transform: translateX(0px);
  display: inline-block;
}
