//package
$grid-breakpoints: (
    xs: 0,
    sm: 721px,
    md: 769px,
    lg: 1025px,
    xl: 1280px,
    xxl: 1440px,
);
$container-max-widths: (
    sm: 100%,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1366px,
);

@import "../../node_modules/bootstrap/scss/bootstrap";

//fonts
@import "core/fonts";
//var
@import "core/vars";
//mixins
@import "core/mixins";
//utilities
@import "core/utilities";
// componentes
@import "components/forms";
//general styles
@import "layout/body";
